/* Standard Elements */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

hr {
  border: dotted #dbe2ef 6px;
  border-bottom: none;
  margin: 25px auto;
  width: 25%;
}

th, td {
  padding: 10px 20px;
  text-align: left;
}

/* Containers and top-level sections*/
.container-fluid {
  padding: 2% 12%;
}

.colored-section {
  background-color: #95e1d3;
  color: #000;
}

.white-section {
  background-color: #fff;
}

/* Heading, section header, and paragraph stylings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.section-header {
  font-weight: bold;
  text-align: left;
}

.std-paragraph {
  font-size: 1rem;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  padding: 0 4%;
  text-align: left;
}

.single-para {
  margin: 0;
}

.sm-para {
  font-size: 0.9rem;
}

.lg-para {
  font-size: 1.25rem;
}

.padded-para {
  padding: 10px 0 0 0;
}
/* --- Specific Content Sections --- */
/* Navigation Bar */
.navbar {
  padding: 0 0 0.5rem;
}

.navbar-section {
  padding: 0;
}

.navbar-container {
  padding: 0 12%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Contact info */
.contact-info {
  padding: 0 0 1% 0;
}

.contact-row {
  padding: 0 3%;
  text-align: center;
  width: 100%;
}

/* Page Footer */
.footer {
  background-color: #fff;
  color: #000;
}

.footer-image {
  height: 30px;
  margin: 15px 10px;
  width: auto;
}

.footer-padding-1 {
  padding: 0 12%;
}

.footer-padding-2 {
  padding: 0 12% 20px 12%;
}

/* Footnotes */
.footnote-section {
  color: #8785a2;
  font-style: italic;
}

/* --- Specific content styling --- */
/* FontAwesome icons */
.fas, .fab {
  font-size: 2.2rem;
  margin: 15px 10px;
  vertical-align: middle;
}

/* Main page image */
.main-image {
  border: solid #e3fdfd 10px;
  height: auto;
  width: 100%;
}

/* Research-page images */
.research-images {
  border: solid #e3fdfd 8px;
  padding: 20px 0;
}

.image-med {
  height: 280px;
  width: auto;
}

.image-caption {
  font-size: 0.75rem;
}

/* Specific section-level settings */
/* job table styling */
.table-entry {
  margin: 0 auto;
}

.job-table-entry td {
  margin: 0;
  padding: 2px 5px;
  /* line-height: 1.2rem; */
}

/* Specific font/text styling */
.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

.super-text {
  vertical-align: super;
}

/* My 404 page */
.image-404 {
  margin: 0 auto;
  padding: 3% 12%;
}

/* Device-specific adjustments */
@media (max-width: 850px) {
  .std-paragraph {
    font-size: 1.25rem;
    padding: 0 1%;
  }

  .container-fluid {
    padding: 2% 4%;
  }
}
