body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

hr {
  /* border: dotted #eaf6f6 6px; */
  border: dotted #dbe2ef 6px;
  border-bottom: none;
  width: 25%;
  margin: 25px auto;
}

th, td {
  padding: 10px 20px;
  text-align: left;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 2% 12%;
}

.footer-padding-1 {
  padding: 0 12%;
}

.footer-padding-2 {
  padding: 0 12% 20px 12%;
}

/* Sections */
.colored-section {
  background-color: #95e1d3;
  color: #000;
}

.white-section {
  background-color: #fff;
  /* padding-top: 0; */
}

.footnote-section {
  font-style: italic;
  color: #8785a2;
  font-size: 14px;
}

.footer {
  background-color: #fff;
  color: #000;
  font-size: 14px;
}

.footer-image {
  margin: 15px 20px;
  height: 30px;
  width: auto;
}

/* custom styling for all icons */
i.fas, i.fab {
  margin: 15px 20px;
  font-size: 35px;
  vertical-align: middle;
}

.social-icon {
  /* height: 30px;
   */
}

/* Navigation Bar */
.navbar {
  padding: 0 0 0.5rem;
}

.navbar-container {
  padding: 2% 12% 0 12%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* specific text parts */
.contact-info {
  padding: 0 0 1% 0;
}

.contact-row {
  font-size: 0.9rem;
  padding: 0 3%;
  text-align: center;
  width: 100%;
}

.section-header {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}

.std-paragraph {
  font-size: 14px;
  text-align: left;
  padding: 0 4%;
  line-height: 1.5;
}

.extra-space {
  white-space: pre-wrap;
}

/* tweak the images */
.main-image {
  width: 100%;
  height: auto;
  border: solid #e3fdfd 10px;
}

.image-med {
  width: auto;
  height: 280px;
}

.image-caption {
  font-size: 12px;
}

/* specific section-level settings */
#title {
  padding: 0;
}

.research-images {
  border: solid #e3fdfd 8px;
  background-color: "red";
  padding: 20px 0;
}

/* teaching formats */
.teaching-1 {
  font-weight: bold;
}

.teaching-2 {
  font-style: italic;
}

.grant-title {
  font-style: italic;
}

.grant-author {
  font-weight: bold;
}

.table-entry {
  margin: 0 auto;
}

.job-table-entry td {
  margin: 0;
  padding: 0 5px;
  line-height: 1rem;
}

.image-404 {
  padding: 3% 12%;
  margin: 0 auto;
}

/* From GoogleDocs Download as HTML -- should rename */
.c1 {
  font-style: italic;
}

.c5 {
  font-weight: 700;
}

.c6 {
  vertical-align: super;
}
